[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
opencv-python = "*"
"rpi.gpio" = "*"
flask = "*"
pigpio = "*"
serial = "*"

[dev-packages]

[requires]
python_version = "*"
