<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle</title>
    <link rel="stylesheet" href="/static/styles/controlestyle.css">
  </head>
  <body>
    <div id="header">
      <h1>robota</h1>
  	  <h2>Controle Remoto</h2>
    </div>
    <div id="controle">
      <div id="top">
        <button id="arrows"><img src="/static/images/arrowup.svg"></button>
      </div>
      <div id="middle">
        <button id="arrows"><img src="/static/images/arrowleft.svg"></button>
        <button id="arrows"><img src="/static/images/poweroff.svg"></button>
        <button id="arrows"><img src="/static/images/arrowright.svg"></button>
      </div>
      <div id="bottom">
        <button id="arrows"><img src="/static/images/arrowdown.svg"></button>
      </div>
    </div>
    <div id="footer">
      <p>Made by Robota</p>
      <a href="https://github.com/robotadasufsc/trekking_2024"><img id="github-icon" src="/static/images/github-mark.svg"></a>
  </div>
  </body>
</html>