<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link rel="stylesheet" href="/static/styles/mapastyle.css">
    <script src="/static/scripts/powerscript.js" defer></script>
  </head>
  <body onload="load_map()">
    <div id="header">
      <h1>robota</h1>
  	  <h2>Mapa de Calor</h2>
    </div>
    <div id="middle">
      <div id="mapa">
        <img src='/images/heatmap.png'>
      </div>
    </div>
    <div id="footer">
        <p>Made by Robota</p>
        <a href="https://github.com/robotadasufsc/trekking_2024"><img id="github-icon" src="/static/images/github-mark.svg"></a>
    </div>
</html>