@font-face {
    font-family: "lustraMedium";
    src: url('/static/fonts/lustra-text-medium.ttf') format('truetype');
  }

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, purple , orange);
}

#header {
    background-image: linear-gradient(to right, purple , orange);
}
#header > h1 {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "lustraMedium";
    text-align: center;
}

#header > h2 {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "lustraMedium";
    text-align: center;
    margin-top: 25px;
}
#middle {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0;
}
#power {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    border: none;
}

#power > img{
    height: 250px;
    width:250px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#footer > p {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-family: "lustraMedium";
}

#github-icon {
    height: 25px;
    width: 25px;
}