<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power</title>
    <link rel="stylesheet" href="/static/styles/powerstyle.css">
    <script src="/static/scripts/powerscript.js" defer></script>
  </head>
  <body>
    <div id="header">
      <h1>robota</h1>
  	  <h2>Start Car</h2>
    </div>
    <div id="middle">
        <form>
          <button type = "button" id="power" onclick="start_car()"><img src="/static/images/power.svg"></button>
        </form>
        <h2>Stop Car</h2>
        <form>
          <button type = "button" id="power" onclick="stop_car()"><img src="/static/images/stop.svg"></button>
        </form>
      </div>
    <div id="footer">
        <p>Made by Robota</p>
        <a href="https://github.com/robotadasufsc/trekking_2024"><img id="github-icon" src="/static/images/github-mark.svg"></a>
    </div>
</html>